<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <bindingRedirects>
        <add key="skip" value="false" />
    </bindingRedirects>
    <config>
        <add key="dependencyVersion" value="lowest" />
        <add key="maxHttpRequestsPerSource" value="16" />
        <add key="signatureValidationMode" value="accept" />
    </config>
    <packageManagement>
        <add key="format" value="0" />
        <add key="disabled" value="false" />
    </packageManagement>
    <packageRestore>
        <add key="automatic" value="true" />
        <add key="enabled" value="true" />
    </packageRestore>
    <packageSources>
        <clear />
        <add key="accelerate" value="../accelerate/.packages" />
        <add key="official" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    </packageSources>
    <solution>
        <add key="disableSourceControlIntegration" value="false" />
    </solution>
</configuration>